<%- include("header") -%>

    <h1>Welcome! <%= name %> </h1>

    <br>

    <% let profile_url = '/profile/' + user_id %>
    
    <ul>
        <li><a href='/post'>Post</a></li>
        <li><a href='/all_tweets'>All Tweets</a></li>
        <li><a href= <%=profile_url%> >Myself...</a></li>
    </ul>
     <br>
     <br>

    <form method='post' action='/logout'>
        <button>Logout</button>
    </form>

<%- include("footer") -%>