<%- include("header") -%>

<h1>Login to Tweaker</h1>

<h2 style="color: red;"><%= err_msg %></h2>


<div class="login_box">
    <form action="/login" method="POST">
        <label>Username: <br>
            <input type="username" name="username" placeholder="username" required> <br>
        </label>
        <br>
        <label>Password:<br>
            <input type="password" name="password" placeholder="password" required> <br>
        </label>
        <br>
        <input type="submit">
    </form>
</div>

<%- include("footer") -%>