<%- include("header") -%>

<div class="profile-box">
    
    <%var user_data_keys = Object.keys(user_data)%>

    <% for (var i = 0; i < user_data_keys.length; i++) {%>
        <p><%= user_data_keys[i] %> : <%= user_data[user_data_keys[i]] %></p>
    <%}%>

</div>


<%- include("footer") -%>