<%- include("header") -%>

<h1>Register to Tweaker</h1>

<h2 style="color: red;"><%= err_msg %></h2>

<div class="register_box">
    <form id="reg_form" action="/register" method="POST">

        <p style="color: blue;">Username cannot be changed once entered. Remember!</p>

        <label>User handle: </label>
        <input type="text" name="username" required> <br> <br>

        <label>Password: </label>
        <input type="password" name="password" required> <br> <br>
        
        <label>Name: </label>
        <input type="text" name="name" required> <br> <br>
        
        <label>Place: </label>
        <input type="text" name="place" required> <br> <br>
        
        <label>Mobile Number: </label>
        <input type="text" name="mobile_number" required> <br> <br>

        <label>About: </label>
        <input type="text" name="about" required> <br> <br>

        <input type="submit" class="reg_submit">
    </form>
</div>        

<%- include("footer") -%>