body {    
    background-color: #fff591;
    font-family: monospace;
    text-align: center;
    padding: 0%;
}

label {
    text-align: left;
}

input {
    float: right;
}

.welcome {
    color: blue;
    font-family: monospace;
}

.login_box {
    background-color: darkgoldenrod;
    border: 1px solid black;
    border-radius: 10px;
    height: 40%;
    margin: auto;
    padding: 2rem;    
    width: 50%;
}

.register_box {
    text-align: left;
    background-color: darkgoldenrod;
    border: 1px solid black;
    border-radius: 10px;
    height: 40%;
    margin: auto;
    padding: 50px;    
    width: 50%; 
}

.reg_form {
    text-align: center;
}

.reg_submit {
    border-radius: 4px;
    border-style: none;
    float: none;
    height: 50px;
    margin: auto;
    width: 100px;
}

.profile-box {
    background-color: #639a67;
    color: #2c003e;
    height: 100%;
    /* top: 200px; */
    width: 50%;
    margin: 200px auto;
}

#profile-table {
    height: 100%;
    width: 100%;
}

#logo_img {
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

#title {
    color: mediumseagreen; 
    font-size: 2rem;   
    font-weight: bold;
}

header {
    display: flex;
}

#left_header {
    /* display: inline; */
    float: left;
}

#right_header {
    /* display: inline; */
    float: right;
}

.foo {
    background-color: darkgoldenrod;
    border: 1px solid black;
    border-radius: 10px;
    height: 40%;
    margin: auto;    
    width: 50%;
}

#footer_wala {
    color: #000;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;    
}
